<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="top.geomatics.gazetteer.database.AddressEditorMapper">
	<!--drop table -->
	<update id="dropTable" parameterType="String">
		DROP TABLE IF EXISTS
		${_parameter}
	</update>

	<!--create table -->
	<update id="createAddressTable" parameterType="String">
		CREATE TABLE
		${_parameter} (
		fid INTEGER PRIMARY KEY AUTOINCREMENT,
		name_ TEXT,
		code_
		TEXT,
		description_ TEXT,

		street_ TEXT,
		community_ TEXT,
		longitude_ double,
		latitude_ double,

		origin_address
		TEXT,
		similar_address TEXT,
		standard_address TEXT,

		status
		int,
		modifier
		TEXT,
		update_date Date,
		update_address TEXT,
		update_building_code TEXT
		)
	</update>

	<!--insert into table -->
	<insert id="insertAddress" parameterType="map">
		insert into
		${sql_tablename}
		(
		<if test="name_ != null">name_,</if>
		<if test="code_ != null">code_,</if>
		<if test="description_ != null">description_,</if>
		<if test="street_ != null">street_,</if>
		<if test="community_ != null">community_,</if>
		<if test="longitude_ != null">longitude_,</if>
		<if test="latitude_ != null">latitude_,</if>
		<if test="origin_address != null">origin_address,</if>
		<if test="similar_address != null">similar_address,</if>
		<if test="standard_address != null">standard_address,</if>
		<if test="status != null">status,</if>
		<if test="modifier != null">modifier,</if>
		<if test="update_date != null">update_date,</if>
		<if test="update_address != null">update_address,</if>
		<if test="update_building_code != null">update_building_code</if>
		)
		values
		(
		<if test="name_ != null">#{name_},</if>
		<if test="code_ != null">#{code_},</if>
		<if test="description_ != null">#{description_},</if>
		<if test="street_ != null">#{street_},</if>
		<if test="community_ != null">#{community_},</if>
		<if test="longitude_ != null">#{longitude_},</if>
		<if test="latitude_ != null">#{latitude_},</if>
		<if test="origin_address != null">#{origin_address},</if>
		<if test="similar_address != null">#{similar_address},</if>
		<if test="standard_address != null">#{standard_address},</if>
		<if test="status != null">#{status},</if>
		<if test="modifier != null">#{modifier},</if>
		<if test="update_date != null">#{update_date},</if>
		<if test="update_address != null">#{update_address},</if>
		<if test="update_building_code != null">#{update_building_code}</if>
		)
	</insert>

	<update id="updateAll" parameterType="map">
		update ${sql_tablename}
		<set>
			<if test="new_name_!=null">
				name_ = #{new_name_},
			</if>
			<if test="new_code_!=null">
				code_ = #{new_code_},
			</if>
			<if test="new_description_!=null">
				description_ = #{new_description_},
			</if>

			<if test="new_street_!=null">
				street_ = #{new_street_},
			</if>
			<if test="new_community_!=null">
				community_ = #{new_community_},
			</if>
			<if test="new_longitude_!=null">
				longitude_ = #{new_longitude_},
			</if>
			<if test="new_latitude_!=null">
				latitude_ = #{new_latitude_},
			</if>
			<if test="new_similar_address!=null">
				similar_address = #{new_similar_address},
			</if>
			<if test="new_standard_address!=null">
				standard_address = #{new_standard_address},
			</if>
			<if test="new_status!=null">
				status = #{new_status},
			</if>
			<if test="new_modifier!=null">
				modifier = #{new_modifier},
			</if>
			<if test="new_update_date!=null">
				update_date = #{new_update_date},
			</if>
			<if test="new_update_address!=null">
				update_address = #{new_update_address},
			</if>
			<if test="new_update_building_code!=null">
				update_building_code = #{new_update_building_code},
			</if>
		</set>
		<where>
			<if test="fid != null">
				fid = #{fid}
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
			<if test="modifier != null">
				AND modifier = #{modifier}
			</if>
			<if test="update_date != null">
				AND update_date = #{update_date}
			</if>
		</where>
	</update>

	<update id="updateBatch" parameterType="map">
		<!-- 接收list参数，循环着组装sql语句，注意for循环的写法 separator=";" 代表着每次循环完，在sql后面放一个分号 
			item="newRow" 循环List的每条的结果集 collection="list" list 即为 map传过来的参数key -->
		
		<foreach collection="list" separator=";" item="newRow" index="index" open="" close="" >
			update ${sql_tablename}
			<set>
				<if test="newRow.name_!=null">
					name_ = #{newRow.name_},
				</if>
				<if test="newRow.code_!=null">
					code_ = #{newRow.code_},
				</if>
				<if test="newRow.description_!=null">
					description_ = #{newRow.description_},
				</if>

				<if test="newRow.street_!=null">
					street_ = #{newRow.street_},
				</if>
				<if test="newRow.community_!=null">
					community_ = #{newRow.community_},
				</if>
				<if test="newRow.longitude_!=null">
					longitude_ = #{newRow.longitude_},
				</if>
				<if test="newRow.latitude_!=null">
					latitude_ = #{newRow.latitude_},
				</if>
				<if test="newRow.similar_address!=null">
					similar_address = #{newRow.similar_address},
				</if>
				<if test="newRow.standard_address!=null">
					standard_address = #{newRow.standard_address},
				</if>
				<if test="newRow.status!=null">
					status = #{newRow.status},
				</if>
				<if test="newRow.modifier!=null">
					modifier = #{newRow.modifier},
				</if>
				<if test="newRow.update_date!=null">
					update_date = #{newRow.update_date},
				</if>
				<if test="newRow.update_address!=null">
					update_address = #{newRow.update_address},
				</if>
				<if test="newRow.update_building_code!=null">
					update_building_code = #{newRow.update_building_code},
				</if>
			</set>
			<where>
				fid = #{newRow.fid}
			</where>
		</foreach>
	
	</update>
	
	<update id="updateBatch2" parameterType="map">
		<!-- 接收list参数，循环着组装sql语句，注意for循环的写法 separator=";" 代表着每次循环完，在sql后面放一个分号 
			item="newRow" 循环List的每条的结果集 collection="list" list 即为 map传过来的参数key -->
		<trim prefix="set" suffixOverrides=",">
			<trim prefix="name_ =case" suffix="end,">
				<foreach collection="list" item="newRow">
					<if test="newRow.name_!=null">
						when fid=#{newRow.fid} then #{newRow.name_}
					</if>
				</foreach>
			</trim>
		</trim>
		<trim prefix="set" suffixOverrides=",">
			<trim prefix="code_ =case" suffix="end,">
				<foreach collection="list" item="newRow">
					<if test="newRow.code_!=null">
						when fid=#{newRow.fid} then #{newRow.code_}
					</if>
				</foreach>
			</trim>
		</trim>
		<trim prefix="set" suffixOverrides=",">
			<trim prefix="description_ =case" suffix="end,">
				<foreach collection="list" item="newRow">
					<if test="newRow.description_!=null">
						when fid=#{newRow.fid} then #{newRow.description_}
					</if>
				</foreach>
			</trim>
		</trim>
		<trim prefix="set" suffixOverrides=",">
			<trim prefix="street_ =case" suffix="end,">
				<foreach collection="list" item="newRow">
					<if test="newRow.street_!=null">
						when fid=#{newRow.fid} then #{newRow.street_}
					</if>
				</foreach>
			</trim>
		</trim>
		<trim prefix="set" suffixOverrides=",">
			<trim prefix="community_ =case" suffix="end,">
				<foreach collection="list" item="newRow">
					<if test="newRow.community_!=null">
						when fid=#{newRow.fid} then #{newRow.community_}
					</if>
				</foreach>
			</trim>
		</trim>
		<trim prefix="set" suffixOverrides=",">
			<trim prefix="longitude_ =case" suffix="end,">
				<foreach collection="list" item="newRow">
					<if test="newRow.longitude_!=null">
						when fid=#{newRow.fid} then #{newRow.longitude_}
					</if>
				</foreach>
			</trim>
		</trim>
		<trim prefix="set" suffixOverrides=",">
			<trim prefix="latitude_ =case" suffix="end,">
				<foreach collection="list" item="newRow">
					<if test="newRow.latitude_!=null">
						when fid=#{newRow.fid} then #{newRow.latitude_}
					</if>
				</foreach>
			</trim>
		</trim>
		<where>
            <foreach collection="list" separator="or" item="newRow">
                fid = #{newRow.fid}
            </foreach>
        </where>
		
	</update>

	<update id="updateStatus" parameterType="map">
		update ${sql_tablename} set
		status = #{new_status}
		<where>
			<if test="fid != null">
				fid = #{fid}
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
			<if test="modifier != null">
				AND modifier = #{modifier}
			</if>
			<if test="update_date != null">
				AND update_date = #{update_date}
			</if>
		</where>
	</update>

	<update id="updateModifier" parameterType="map">
		update ${sql_tablename} set
		modifier = #{new_modifier}
		<where>
			<if test="fid != null">
				fid = #{fid}
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
			<if test="modifier != null">
				AND modifier = #{modifier}
			</if>
			<if test="update_date != null">
				AND update_date = #{update_date}
			</if>
		</where>
	</update>
	<update id="updateDate" parameterType="map">
		update ${sql_tablename} set
		update_date = #{new_update_date}
		<where>
			<if test="fid != null">
				fid = #{fid}
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
			<if test="modifier != null">
				AND modifier = #{modifier}
			</if>
			<if test="update_date != null">
				AND update_date = #{update_date}
			</if>
		</where>
	</update>
	<update id="updateAddress" parameterType="map">
		update ${sql_tablename} set
		update_address = #{new_update_address}
		<where>
			<if test="fid != null">
				fid = #{fid}
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
			<if test="modifier != null">
				AND modifier = #{modifier}
			</if>
			<if test="update_date != null">
				AND update_date = #{update_date}
			</if>
		</where>
	</update>
	<update id="updateBuildingCode" parameterType="map">
		update ${sql_tablename} set
		update_building_code =
		#{new_update_building_code}
		<where>
			<if test="fid != null">
				fid = #{fid}
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
			<if test="modifier != null">
				AND modifier = #{modifier}
			</if>
			<if test="update_date != null">
				AND update_date = #{update_date}
			</if>
		</where>
	</update>

	<!--通过fid查询字段 -->
	<select id="selectByFid" resultType="AddressEditorRow">
		SELECT ${sql_fields}
		FROM
		${sql_tablename}
		where fid =#{fid}
	</select>

	<!--通过fids查询字段 -->
	<select id="selectByFids" resultType="AddressEditorRow">
		SELECT ${sql_fields}
		FROM ${sql_tablename}
		<where>
			<if test="fids != null">
				fid in
				<foreach collection="fids" index="index" item="fid" open="("
					separator="," close=")">
					#{fid}
				</foreach>
			</if>
		</where>
	</select>

	<!--动态SQL -->
	<select id="findEquals" resultType="AddressEditorRow">
		SELECT ${sql_fields}
		FROM ${sql_tablename}
		<where>
			<if test="fid != null">
				fid = #{fid}
			</if>
			<if test="street_ != null">
				AND street_ = #{street_}
			</if>
			<if test="community_ != null">
				AND community_ = #{community_}
			</if>
			<if test="origin_address != null">
				AND origin_address = #{origin_address}
			</if>
			<if test="similar_address != null">
				AND similar_address = #{similar_address}
			</if>
			<if test="standard_address != null">
				AND standard_address = #{standard_address}
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
			<if test="modifier != null">
				AND modifier = #{modifier}
			</if>
			<if test="update_date != null">
				AND update_date = #{update_date}
			</if>
		</where>
		<if test="sql_orderBy != null">
			ORDER BY ${sql_orderBy}
		</if>
		<if test="sql_limit != null">
			LIMIT #{sql_limit}
		</if>
	</select>

	<select id="getCount" resultType="int">
		SELECT count(*)
		FROM
		${sql_tablename}
		<where>
			<if test="fid != null">
				fid = #{fid}
			</if>
			<if test="street_ != null">
				street_ = #{street_}
			</if>
			<if test="community_ != null">
				AND community_ = #{community_}
			</if>
			<if test="origin_address != null">
				AND origin_address = #{origin_address}
			</if>
			<if test="similar_address != null">
				AND similar_address = #{similar_address}
			</if>
			<if test="standard_address != null">
				AND standard_address = #{standard_address}
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
			<if test="modifier != null">
				AND modifier = #{modifier}
			</if>
			<if test="update_date != null">
				AND update_date = #{update_date}
			</if>
		</where>
	</select>
	<select id="getCountNameLike" resultType="int">
		SELECT count(*)
		FROM
		${sql_tablename}
		<where>
			<if test="fid != null">
				fid = #{fid}
			</if>
			<if test="name_ != null">
				name_ LIKE #{name_}
			</if>
			<if test="street_ != null">
				street_ = #{street_}
			</if>
			<if test="community_ != null">
				AND community_ = #{community_}
			</if>
			<if test="origin_address != null">
				AND origin_address = #{origin_address}
			</if>
			<if test="similar_address != null">
				AND similar_address = #{similar_address}
			</if>
			<if test="standard_address != null">
				AND standard_address = #{standard_address}
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
			<if test="modifier != null">
				AND modifier = #{modifier}
			</if>
			<if test="update_date != null">
				AND update_date = #{update_date}
			</if>
		</where>
	</select>

	<select id="findPageEquals" resultType="AddressEditorRow">
		SELECT ${sql_fields}
		FROM ${sql_tablename}
		<where>
			<if test="fid != null">
				fid = #{fid}
			</if>
			<if test="street_ != null">
				street_ = #{street_}
			</if>
			<if test="community_ != null">
				AND community_ = #{community_}
			</if>
			<if test="origin_address != null">
				AND origin_address = #{origin_address}
			</if>
			<if test="similar_address != null">
				AND similar_address = #{similar_address}
			</if>
			<if test="standard_address != null">
				AND standard_address = #{standard_address}
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
			<if test="modifier != null">
				AND modifier = #{modifier}
			</if>
			<if test="update_date != null">
				AND update_date = #{update_date}
			</if>
		</where>
		<if test="sql_orderBy != null">
			ORDER BY ${sql_orderBy}
		</if>
		<choose>
			<when test="page_start != null">
				<choose>
					<when test="sql_limit != null">
						LIMIT #{page_start},#{sql_limit}
					</when>
					<otherwise>
						LIMIT #{page_start},10
					</otherwise>
				</choose>
			</when>
			<otherwise>
				<if test="sql_limit != null">
					LIMIT #{sql_limit}
				</if>
			</otherwise>
		</choose>
	</select>
	<select id="findPageNameLike" resultType="AddressEditorRow">
		SELECT ${sql_fields}
		FROM ${sql_tablename}
		<where>
			<if test="fid != null">
				fid = #{fid}
			</if>
			<if test="name_ != null">
				name_ LIKE #{name_}
			</if>
			<if test="street_ != null">
				street_ = #{street_}
			</if>
			<if test="community_ != null">
				AND community_ = #{community_}
			</if>
			<if test="origin_address != null">
				AND origin_address = #{origin_address}
			</if>
			<if test="similar_address != null">
				AND similar_address = #{similar_address}
			</if>
			<if test="standard_address != null">
				AND standard_address = #{standard_address}
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
			<if test="modifier != null">
				AND modifier = #{modifier}
			</if>
			<if test="update_date != null">
				AND update_date = #{update_date}
			</if>
		</where>
		<if test="sql_orderBy != null">
			ORDER BY ${sql_orderBy}
		</if>
		<choose>
			<when test="page_start != null">
				<choose>
					<when test="sql_limit != null">
						LIMIT #{page_start},#{sql_limit}
					</when>
					<otherwise>
						LIMIT #{page_start},10
					</otherwise>
				</choose>
			</when>
			<otherwise>
				<if test="sql_limit != null">
					LIMIT #{sql_limit}
				</if>
			</otherwise>
		</choose>
	</select>

	<select id="findLike" resultType="AddressEditorRow">
		SELECT ${sql_fields}
		FROM ${sql_tablename}
		<where>
			<if test="name_ != null">
				name_ LIKE #{name_}
			</if>
			<if test="street_ != null">
				street_ LIKE #{street_}
			</if>
			<if test="community_ != null">
				AND community_ LIKE #{community_}
			</if>
			<if test="origin_address != null">
				AND origin_address LIKE #{origin_address}
			</if>
			<if test="similar_address != null">
				AND similar_address LIKE #{similar_address}
			</if>
			<if test="standard_address != null">
				AND standard_address LIKE #{standard_address}
			</if>
			<if test="status != null">
				AND status LIKE #{status}
			</if>
			<if test="modifier != null">
				AND modifier LIKE #{modifier}
			</if>
			<if test="update_address != null">
				AND update_address LIKE #{update_address}
			</if>
			<if test="update_building_code != null">
				AND update_building_code LIKE #{update_building_code}
			</if>
		</where>
		<if test="sql_orderBy != null">
			ORDER BY ${sql_orderBy}
		</if>
		<if test="sql_limit != null">
			LIMIT #{sql_limit}
		</if>
	</select>

</mapper>