<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="top.geomatics.gazetteer.database.AddressEditorMapper">
	<!--drop table -->
	<update id="dropTable" parameterType="String">
		DROP TABLE IF EXISTS
		${_parameter}
	</update>

	<!--create table -->
	<update id="createAddressTable" parameterType="String">
		CREATE TABLE
		${_parameter} (
		fid INTEGER PRIMARY KEY AUTOINCREMENT,
		street_ TEXT,
		community_ TEXT,
		longitude_ double,
		latitude_ double,

		origin_address
		TEXT,
		similar_address TEXT,
		standard_address TEXT,

		status int,
		modifier
		TEXT,
		update_date Date,
		update_address TEXT,
		update_building_code TEXT
		)
	</update>

	<!--insert into table -->
	<insert id="insertAddress" parameterType="map">
		insert into
		${sql_tablename}
		(
		<if test="street_ != null">street_,</if>
		<if test="community_ != null">community_,</if>
		<if test="longitude_ != null">longitude_,</if>
		<if test="latitude_ != null">latitude_,</if>
		<if test="origin_address != null">origin_address,</if>
		<if test="similar_address != null">similar_address,</if>
		<if test="standard_address != null">standard_address,</if>
		<if test="status != null">status,</if>
		<if test="modifier != null">modifier,</if>
		<if test="update_date != null">update_date,</if>
		<if test="update_address != null">update_address,</if>
		<if test="update_building_code != null">update_building_code</if>
		)
		values
		(
		<if test="street_ != null">#{street_},</if>
		<if test="community_ != null">#{community_},</if>
		<if test="longitude_ != null">#{longitude_},</if>
		<if test="latitude_ != null">#{latitude_},</if>
		<if test="origin_address != null">#{origin_address},</if>
		<if test="similar_address != null">#{similar_address},</if>
		<if test="standard_address != null">#{standard_address},</if>
		<if test="status != null">#{status},</if>
		<if test="modifier != null">#{modifier},</if>
		<if test="update_date != null">#{update_date},</if>
		<if test="update_address != null">#{update_address},</if>
		<if test="update_building_code != null">#{update_building_code}</if>
		)
	</insert>

	<update id="updateAll" parameterType="map">
		update ${sql_tablename}
		<set>
			<if test="new_similar_address!=null">
				similar_address = #{new_similar_address},
			</if>
			<if test="new_standard_address!=null">
				standard_address = #{new_standard_address},
			</if>
			<if test="new_status!=null">
				status = #{new_status},
			</if>
			<if test="new_modifier!=null">
				modifier = #{new_modifier},
			</if>
			<if test="new_update_date!=null">
				update_date = #{new_update_date},
			</if>
			<if test="new_update_address!=null">
				update_address = #{new_update_address},
			</if>
			<if test="new_update_address_id!=null">
				update_address_id = #{new_update_address_id},
			</if>
		</set>
		<where>
			<if test="fid != null">
				fid = #{fid}
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
			<if test="modifier != null">
				AND modifier = #{modifier}
			</if>
			<if test="update_date != null">
				AND update_date = #{update_date}
			</if>
		</where>
	</update>

	<update id="updateStatus" parameterType="map">
		update ${sql_tablename} set
		status = #{new_status}
		<where>
			<if test="fid != null">
				fid = #{fid}
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
			<if test="modifier != null">
				AND modifier = #{modifier}
			</if>
			<if test="update_date != null">
				AND update_date = #{update_date}
			</if>
		</where>
	</update>

	<update id="updateModifier" parameterType="map">
		update ${sql_tablename} set
		modifier = #{new_modifier}
		<where>
			<if test="fid != null">
				fid = #{fid}
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
			<if test="modifier != null">
				AND modifier = #{modifier}
			</if>
			<if test="update_date != null">
				AND update_date = #{update_date}
			</if>
		</where>
	</update>
	<update id="updateDate" parameterType="map">
		update ${sql_tablename} set
		update_date = #{new_update_date}
		<where>
			<if test="fid != null">
				fid = #{fid}
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
			<if test="modifier != null">
				AND modifier = #{modifier}
			</if>
			<if test="update_date != null">
				AND update_date = #{update_date}
			</if>
		</where>
	</update>
	<update id="updateAddress" parameterType="map">
		update ${sql_tablename} set
		update_address = #{new_update_address}
		<where>
			<if test="fid != null">
				fid = #{fid}
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
			<if test="modifier != null">
				AND modifier = #{modifier}
			</if>
			<if test="update_date != null">
				AND update_date = #{update_date}
			</if>
		</where>
	</update>
	<update id="updateBuildingCode" parameterType="map">
		update ${sql_tablename} set
		update_building_code =
		#{new_update_building_code}
		<where>
			<if test="fid != null">
				fid = #{fid}
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
			<if test="modifier != null">
				AND modifier = #{modifier}
			</if>
			<if test="update_date != null">
				AND update_date = #{update_date}
			</if>
		</where>
	</update>

	<!--通过fid查询字段 -->
	<select id="selectByFid" resultType="AddressEditorRow">
		SELECT ${sql_fields}
		FROM
		${sql_tablename}
		where fid =#{fid}
	</select>

	<!--通过fids查询字段 -->
	<select id="selectByFids" resultType="AddressEditorRow">
		SELECT ${sql_fields}
		FROM ${sql_tablename}
		<where>
			<if test="fids != null">
				fid in
				<foreach collection="fids" index="index" item="fid" open="("
					separator="," close=")">
					#{fid}
				</foreach>
			</if>
		</where>
	</select>

	<!--动态SQL -->
	<select id="findEquals" resultType="AddressEditorRow">
		SELECT ${sql_fields}
		FROM ${sql_tablename}
		<where>
			<if test="fid != null">
				fid = #{fid}
			</if>
			<if test="street_ != null">
				AND street_ = #{street_}
			</if>
			<if test="community_ != null">
				AND community_ = #{community_}
			</if>
			<if test="origin_address != null">
				AND origin_address = #{origin_address}
			</if>
			<if test="similar_address != null">
				AND similar_address = #{similar_address}
			</if>
			<if test="standard_address != null">
				AND standard_address = #{standard_address}
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
			<if test="modifier != null">
				AND modifier = #{modifier}
			</if>
			<if test="update_date != null">
				AND update_date = #{update_date}
			</if>
		</where>
		<if test="sql_orderBy != null">
			ORDER BY ${sql_orderBy}
		</if>
		<if test="sql_limit != null">
			LIMIT #{sql_limit}
		</if>
	</select>

	<select id="getCount" resultType="int">
		SELECT count(*)
		FROM
		${sql_tablename}
		<where>
			<if test="fid != null">
				fid = #{fid}
			</if>
			<if test="street_ != null">
				street_ = #{street_}
			</if>
			<if test="community_ != null">
				AND community_ = #{community_}
			</if>
			<if test="origin_address != null">
				AND origin_address = #{origin_address}
			</if>
			<if test="similar_address != null">
				AND similar_address = #{similar_address}
			</if>
			<if test="standard_address != null">
				AND standard_address = #{standard_address}
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
			<if test="modifier != null">
				AND modifier = #{modifier}
			</if>
			<if test="update_date != null">
				AND update_date = #{update_date}
			</if>
		</where>
	</select>

	<select id="findPageEquals" resultType="AddressEditorRow">
		SELECT ${sql_fields}
		FROM ${sql_tablename}
		<where>
			<if test="fid != null">
				fid = #{fid}
			</if>
			<if test="street_ != null">
				street_ = #{street_}
			</if>
			<if test="community_ != null">
				AND community_ = #{community_}
			</if>
			<if test="origin_address != null">
				AND origin_address = #{origin_address}
			</if>
			<if test="similar_address != null">
				AND similar_address = #{similar_address}
			</if>
			<if test="standard_address != null">
				AND standard_address = #{standard_address}
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
			<if test="modifier != null">
				AND modifier = #{modifier}
			</if>
			<if test="update_date != null">
				AND update_date = #{update_date}
			</if>
		</where>
		<if test="sql_orderBy != null">
			ORDER BY ${sql_orderBy}
		</if>
		<choose>
			<when test="page_start != null">
				<choose>
					<when test="sql_limit != null">
						LIMIT #{page_start},#{sql_limit}
					</when>
					<otherwise>
						LIMIT #{page_start},10
					</otherwise>
				</choose>
			</when>
			<otherwise>
				<if test="sql_limit != null">
					LIMIT #{sql_limit}
				</if>
			</otherwise>
		</choose>
	</select>

	<select id="findLike" resultType="AddressEditorRow">
		SELECT ${sql_fields}
		FROM ${sql_tablename}
		<where>
			<if test="street_ != null">
				street_ LIKE #{street_}
			</if>
			<if test="community_ != null">
				AND community_ LIKE #{community_}
			</if>
			<if test="origin_address != null">
				AND origin_address LIKE #{origin_address}
			</if>
			<if test="similar_address != null">
				AND similar_address LIKE #{similar_address}
			</if>
			<if test="standard_address != null">
				AND standard_address LIKE #{standard_address}
			</if>
			<if test="status != null">
				AND status LIKE #{status}
			</if>
			<if test="modifier != null">
				AND modifier LIKE #{modifier}
			</if>
			<if test="update_address != null">
				AND update_address LIKE #{update_address}
			</if>
			<if test="update_address_id != null">
				AND update_address_id LIKE #{update_address_id}
			</if>
		</where>
		<if test="sql_orderBy != null">
			ORDER BY ${sql_orderBy}
		</if>
		<if test="sql_limit != null">
			LIMIT #{sql_limit}
		</if>
	</select>

</mapper>